.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    margin: 0 auto;
    width: 100%;
    background-color: var(--medium-light-blue);
    position: relative;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 145px;
    padding: 16px 0;

}

.desktopMenu {
    display: none;
}

.donateButton {
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: 600;

    background-color: var(--dark-blue);
    color: var(--beige-light);
    border-radius: 8px;

    width: 120px;
    height: 40px;
}

.burgerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
}


@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 16px 40px;
    }

    .desktopMenu {
        display: block;
    }

    .burgerButton {
        display: none;
    }
}

@media screen and (min-width: 1440px) {}